@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: linear-gradient(to left top, #845ec2, hsl(263, 44%, 59%), #9775c8,
    #9f80ca, #a88ccd, #9992d2, #8a98d4, #7d9dd4, #4a9dcb, #009bb8, #00969c,
    #008f7a);
    --color-secundario: #f5e7f0d0;
    --color-terciario: #FDF0F0;
    --color-cuaternario: #1f3268dc;
    --color-titulo:#bb0c8f;
    --color-enlaces: rgba(199, 21, 134, 0.541);

    --fuente-Montserrat: "Montserrat", sans-serif;
    --fuente-Krona: "Krona One", sans-serif;

* {
    padding: 0;
    margin: 0;
}

.header{
    padding: 2% 0% 2% 15%;
    background-color: var(--color-cuaternario);
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
}

body {
    background-color: var(--color-cuaternario);
    background-image: var(--color-primario);
    color: var(--color-terciario);
    box-sizing: border-box;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido_titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-Krona);
}

.presentacion__contenido_texto {
    font-size: 1.5rem;
    font-family: var(--fuente-Krona);
}

.presentacion__contenido_texto2 {
    font-size: 1.62rem;
    font-family: var(--fuente-Montserrat);
}

.titulo-blog {
    color: var(--color-titulo);
}

.titulo-destaque {
    color: var(--color-titulo);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-titulo);
}

.presentacion__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 10%;
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(-color-enlaces);
    border: 3px solid var(--color-enlaces);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__link:hover {
    cursor: pointer;
    background-color: var(--color-enlaces);
}

.presentacion__imagen{
    width: 50%;
}

.parent-div {
   width: 30px;
   height: 30px;
}


.footer {
    background-color: var(--color-cuaternario);
    padding: 24px;
    color: var(--color-secundario);
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

@media (max-width:1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
    }

    .presentacion__contenido{
        width: auto;
    }
}