@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #132043;
    background-image: linear-gradient(to left top, #845ec2, hsl(263, 44%, 59%), #9775c8,
            #9f80ca, #a88ccd, #9992d2, #8a98d4, #7d9dd4, #4a9dcb, #009bb8, #00969c,
            #008f7a);
    color: #FDF0F0;
    box-sizing: border-box;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10% 10%;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido_texto {
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido_texto2 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}


.titulo-blog {
    color: #bb0c8f;
}

.titulo-destaque {
    color: #bb0c8f;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulos{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: mediumvioletred;
    border: 3px solid #b13c86a1;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__link:hover {
    cursor: pointer;
    background-color: #b13c86a1;
}

.parent-div {
   width: 30px;
   height: 30px;
}

. header {
    
}

.footer {
    background-color: #132043;
    padding: 24px;
    color: #b13c86a1;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}